<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @expsico.exam_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expsico.status %>
</p>

<p>
  <strong>Psiq01:</strong>
  <%= @expsico.psiq01 %>
</p>

<p>
  <strong>Psiq02:</strong>
  <%= @expsico.psiq02 %>
</p>

<p>
  <strong>Psiq03:</strong>
  <%= @expsico.psiq03 %>
</p>

<p>
  <strong>Psiq04:</strong>
  <%= @expsico.psiq04 %>
</p>

<p>
  <strong>Psiq05:</strong>
  <%= @expsico.psiq05 %>
</p>

<p>
  <strong>Psiq06:</strong>
  <%= @expsico.psiq06 %>
</p>

<p>
  <strong>Psiq07:</strong>
  <%= @expsico.psiq07 %>
</p>

<p>
  <strong>Psiq08:</strong>
  <%= @expsico.psiq08 %>
</p>

<p>
  <strong>Psiq09:</strong>
  <%= @expsico.psiq09 %>
</p>

<p>
  <strong>Psiq10:</strong>
  <%= @expsico.psiq10 %>
</p>

<p>
  <strong>Psiq11:</strong>
  <%= @expsico.psiq11 %>
</p>

<p>
  <strong>Psiq12:</strong>
  <%= @expsico.psiq12 %>
</p>

<p>
  <strong>Psiq13:</strong>
  <%= @expsico.psiq13 %>
</p>

<p>
  <strong>Psiq14:</strong>
  <%= @expsico.psiq14 %>
</p>

<p>
  <strong>Psiq15:</strong>
  <%= @expsico.psiq15 %>
</p>

<p>
  <strong>Psiq16:</strong>
  <%= @expsico.psiq16 %>
</p>

<p>
  <strong>Psiq17:</strong>
  <%= @expsico.psiq17 %>
</p>

<p>
  <strong>Psiq18:</strong>
  <%= @expsico.psiq18 %>
</p>

<p>
  <strong>Psiq19:</strong>
  <%= @expsico.psiq19 %>
</p>

<p>
  <strong>Psiq20:</strong>
  <%= @expsico.psiq20 %>
</p>

<p>
  <strong>Psiq21:</strong>
  <%= @expsico.psiq21 %>
</p>

<%= link_to 'Edit', edit_paciente_exam_expsico_path(@paciente,@exam,@expsico) %> |
<%= link_to 'Back', pacientes_exams_path(@paciente) %>
