<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exmedico.exam_id %>
</p>

<p>
  <strong>Medap01:</strong>
  <%= @exmedico.medAP01 %>
</p>

<p>
  <strong>Medap02:</strong>
  <%= @exmedico.medAP02 %>
</p>

<p>
  <strong>Medap03:</strong>
  <%= @exmedico.medAP03 %>
</p>

<p>
  <strong>Medap04:</strong>
  <%= @exmedico.medAP04 %>
</p>

<p>
  <strong>Medap05:</strong>
  <%= @exmedico.medAP05 %>
</p>

<p>
  <strong>Medap06:</strong>
  <%= @exmedico.medAP06 %>
</p>

<p>
  <strong>Medap07:</strong>
  <%= @exmedico.medAP07 %>
</p>

<p>
  <strong>Medap08:</strong>
  <%= @exmedico.medAP08 %>
</p>

<p>
  <strong>Medap09:</strong>
  <%= @exmedico.medAP09 %>
</p>

<p>
  <strong>Medap10:</strong>
  <%= @exmedico.medAP10 %>
</p>

<p>
  <strong>Medap11:</strong>
  <%= @exmedico.medAP11 %>
</p>

<p>
  <strong>Medap12:</strong>
  <%= @exmedico.medAP12 %>
</p>

<p>
  <strong>Medap13:</strong>
  <%= @exmedico.medAP13 %>
</p>

<p>
  <strong>Medap14:</strong>
  <%= @exmedico.medAP14 %>
</p>

<p>
  <strong>Medap15:</strong>
  <%= @exmedico.medAP15 %>
</p>

<p>
  <strong>Medap16:</strong>
  <%= @exmedico.medAP16 %>
</p>

<p>
  <strong>Medap17:</strong>
  <%= @exmedico.medAP17 %>
</p>

<p>
  <strong>Medap018:</strong>
  <%= @exmedico.medAP018 %>
</p>

<p>
  <strong>Medq01:</strong>
  <%= @exmedico.medq01 %>
</p>

<p>
  <strong>Medaf01:</strong>
  <%= @exmedico.medAF01 %>
</p>

<p>
  <strong>Medaf02:</strong>
  <%= @exmedico.medAF02 %>
</p>

<p>
  <strong>Medaf03:</strong>
  <%= @exmedico.medAF03 %>
</p>

<p>
  <strong>Medaf04:</strong>
  <%= @exmedico.medAF04 %>
</p>

<p>
  <strong>Medaf05:</strong>
  <%= @exmedico.medAF05 %>
</p>

<p>
  <strong>Medaf06:</strong>
  <%= @exmedico.medAF06 %>
</p>

<p>
  <strong>Medaf07:</strong>
  <%= @exmedico.medAF07 %>
</p>

<p>
  <strong>Medaf08:</strong>
  <%= @exmedico.medAF08 %>
</p>

<p>
  <strong>Medaf09:</strong>
  <%= @exmedico.medAF09 %>
</p>

<p>
  <strong>Medaf10:</strong>
  <%= @exmedico.medAF10 %>
</p>

<p>
  <strong>Medaf11:</strong>
  <%= @exmedico.medAF11 %>
</p>

<p>
  <strong>Medaf12:</strong>
  <%= @exmedico.medAF12 %>
</p>

<p>
  <strong>Medaf13:</strong>
  <%= @exmedico.medAF13 %>
</p>

<p>
  <strong>Medaf14:</strong>
  <%= @exmedico.medAF14 %>
</p>

<p>
  <strong>Medaf15:</strong>
  <%= @exmedico.medAF15 %>
</p>

<p>
  <strong>Medaf16:</strong>
  <%= @exmedico.medAF16 %>
</p>

<p>
  <strong>Medaf17:</strong>
  <%= @exmedico.medAF17 %>
</p>

<p>
  <strong>Medaf018:</strong>
  <%= @exmedico.medAF018 %>
</p>

<p>
  <strong>Medq02:</strong>
  <%= @exmedico.medq02 %>
</p>

<p>
  <strong>Medq03:</strong>
  <%= @exmedico.medq03 %>
</p>

<p>
  <strong>Medq04:</strong>
  <%= @exmedico.medq04 %>
</p>

<p>
  <strong>Medq05:</strong>
  <%= @exmedico.medq05 %>
</p>

<p>
  <strong>Medq06:</strong>
  <%= @exmedico.medq06 %>
</p>

<p>
  <strong>Medq07:</strong>
  <%= @exmedico.medq07 %>
</p>

<p>
  <strong>Medq08:</strong>
  <%= @exmedico.medq08 %>
</p>

<p>
  <strong>Medq09:</strong>
  <%= @exmedico.medq09 %>
</p>

<p>
  <strong>Medq10:</strong>
  <%= @exmedico.medq10 %>
</p>

<p>
  <strong>Medq11:</strong>
  <%= @exmedico.medq11 %>
</p>

<p>
  <strong>Medq12:</strong>
  <%= @exmedico.medq12 %>
</p>

<p>
  <strong>Medq13:</strong>
  <%= @exmedico.medq13 %>
</p>

<p>
  <strong>Medq14:</strong>
  <%= @exmedico.medq14 %>
</p>

<p>
  <strong>Medq15:</strong>
  <%= @exmedico.medq15 %>
</p>

<p>
  <strong>Medq16:</strong>
  <%= @exmedico.medq16 %>
</p>

<p>
  <strong>Medq17:</strong>
  <%= @exmedico.medq17 %>
</p>

<p>
  <strong>Medq18:</strong>
  <%= @exmedico.medq18 %>
</p>

<p>
  <strong>Medq19:</strong>
  <%= @exmedico.medq19 %>
</p>

<p>
  <strong>Medq20:</strong>
  <%= @exmedico.medq20 %>
</p>

<p>
  <strong>Medq21:</strong>
  <%= @exmedico.medq21 %>
</p>

<p>
  <strong>Medq22:</strong>
  <%= @exmedico.medq22 %>
</p>

<p>
  <strong>Medq23:</strong>
  <%= @exmedico.medq23 %>
</p>

<p>
  <strong>Medq24:</strong>
  <%= @exmedico.medq24 %>
</p>

<p>
  <strong>Medq25:</strong>
  <%= @exmedico.medq25 %>
</p>

<p>
  <strong>Medq26:</strong>
  <%= @exmedico.medq26 %>
</p>

<p>
  <strong>Medq27:</strong>
  <%= @exmedico.medq27 %>
</p>

<p>
  <strong>Medq28:</strong>
  <%= @exmedico.medq28 %>
</p>

<p>
  <strong>Medq29:</strong>
  <%= @exmedico.medq29 %>
</p>

<p>
  <strong>Medq30:</strong>
  <%= @exmedico.medq30 %>
</p>

<p>
  <strong>Medq31:</strong>
  <%= @exmedico.medq31 %>
</p>

<p>
  <strong>Medq32:</strong>
  <%= @exmedico.medq32 %>
</p>

<p>
  <strong>Medq33:</strong>
  <%= @exmedico.medq33 %>
</p>

<p>
  <strong>Medq34:</strong>
  <%= @exmedico.medq34 %>
</p>

<p>
  <strong>Medq35:</strong>
  <%= @exmedico.medq35 %>
</p>

<%= link_to 'Edit', edit_paciente_exam_exmedico_path(@paciente,@exam,@exmedico) %> |
<%= link_to 'Back', paciente_exams_path(@paciente) %>
