<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exfono.exam_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exfono.status %>
</p>

<p>
  <strong>Fonq01:</strong>
  <%= @exfono.fonq01 %>
</p>

<p>
  <strong>Fonq02:</strong>
  <%= @exfono.fonq02 %>
</p>

<p>
  <strong>Fonq03:</strong>
  <%= @exfono.fonq03 %>
</p>

<p>
  <strong>Fonq04:</strong>
  <%= @exfono.fonq04 %>
</p>

<p>
  <strong>Fonq05:</strong>
  <%= @exfono.fonq05 %>
</p>

<p>
  <strong>Fonq06:</strong>
  <%= @exfono.fonq06 %>
</p>

<p>
  <strong>Fonq07:</strong>
  <%= @exfono.fonq07 %>
</p>

<p>
  <strong>Fonq08:</strong>
  <%= @exfono.fonq08 %>
</p>

<p>
  <strong>Fonq09:</strong>
  <%= @exfono.fonq09 %>
</p>

<p>
  <strong>Fonq10:</strong>
  <%= @exfono.fonq10 %>
</p>

<p>
  <strong>Fonq11:</strong>
  <%= @exfono.fonq11 %>
</p>

<p>
  <strong>Fonq12:</strong>
  <%= @exfono.fonq12 %>
</p>

<p>
  <strong>Fonq13:</strong>
  <%= @exfono.fonq13 %>
</p>

<p>
  <strong>Fonq14:</strong>
  <%= @exfono.fonq14 %>
</p>

<p>
  <strong>Fonq15:</strong>
  <%= @exfono.fonq15 %>
</p>

<p>
  <strong>Fonq16:</strong>
  <%= @exfono.fonq16 %>
</p>

<p>
  <strong>Fonq17:</strong>
  <%= @exfono.fonq17 %>
</p>

<%= link_to 'Edit', edit_paciente_exam_exfono_path(@paciente,@exam,@exfono) %> |
<%= link_to 'Back', paciente_exams_path(@paciente) %>
