<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exopto.exam_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exopto.status %>
</p>

<p>
  <strong>Optq01:</strong>
  <%= @exopto.optq01 %>
</p>

<p>
  <strong>Optq02:</strong>
  <%= @exopto.optq02 %>
</p>

<p>
  <strong>Optq03:</strong>
  <%= @exopto.optq03 %>
</p>

<p>
  <strong>Optq04:</strong>
  <%= @exopto.optq04 %>
</p>

<p>
  <strong>Optq05:</strong>
  <%= @exopto.optq05 %>
</p>

<p>
  <strong>Optq06:</strong>
  <%= @exopto.optq06 %>
</p>

<p>
  <strong>Optq07:</strong>
  <%= @exopto.optq07 %>
</p>

<p>
  <strong>Optq08:</strong>
  <%= @exopto.optq08 %>
</p>

<p>
  <strong>Optq09:</strong>
  <%= @exopto.optq09 %>
</p>

<p>
  <strong>Optq10:</strong>
  <%= @exopto.optq10 %>
</p>

<p>
  <strong>Optq11:</strong>
  <%= @exopto.optq11 %>
</p>

<p>
  <strong>Optq12:</strong>
  <%= @exopto.optq12 %>
</p>

<p>
  <strong>Optq13:</strong>
  <%= @exopto.optq13 %>
</p>

<p>
  <strong>Optq14:</strong>
  <%= @exopto.optq14 %>
</p>

<p>
  <strong>Optq15:</strong>
  <%= @exopto.optq15 %>
</p>

<p>
  <strong>Optq16:</strong>
  <%= @exopto.optq16 %>
</p>

<%= link_to 'Edit', edit_paciente_exam_exopto_path(@paciente,@exam,@exopto) %> |
<%= link_to 'Back', paciente_exams_path(@paciente) %>
